@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
  --gray:#f3f4f6;
  --darkerGray:rgba(65, 65, 65, 0.308);
  --darkBlue:#1f2937;
  --dartyGray:rgba(65, 65, 65, 0.308);
  --Cardborder:rgba(255, 255, 255, 0.089);
}
*{
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
  overflow-x: hidden;
  width: screen;
  /* background-color: rgb(250, 255, 255); */
  /* background-image: linear-gradient(to left, #92edf6, #aff2f7, #caf6f9, #e2fbfc, #faffff); */
  /* background-image: linear-gradient(to left, #ffffff, #feffff, #fdffff, #fbffff, #faffff); */
  background-image: radial-gradient(circle, #ffffff, #feffff, #fdffff, #fbffff, #faffff)
}

p{
  margin: 0;
}